.containerStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testAndImageContainerStyle {
  display: flex;
  margin: 20px;
  width: 50%;
  align-items: center;
  border: 1px solid #ccc;
  padding: 3%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  box-shadow: 0 8px 16px rgba(17 146 300 0.5);
}

.ServicesStyle {
  padding: 20px;
  margin-right: 20px;
  flex: 1;
}

.imageStyle {
  max-width: 300px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(17, 146, 300, 0.5);
}
.headingStyle {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.paragraphStyle {
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 10px 0;
}
.buttonContainerStyle {
  margin-top: 20px;
  text-align: center;
}


.appointment-history-table {
  width: 70%;
  border-collapse: collapse;
  margin-left: 300px;
  margin-top: 40px;
  font-size: 18px;
  text-align: left;

}

.appointment-history-table th,
.appointment-history-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.appointment-history-table thead {
  background-color: #f2f2f2;
}
