.main-graph-container
{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 2rem;
}
.bar-chart-container
{
    width: 60%;
    margin: 1rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    border-radius: 3%;
}

.barchart{
width: 100%;
}
.pie-chart-container
{
    width: 30%;
    margin: 1rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    border-radius: 3%;
}



/*STRIPE PAYMENT*/
.payment-text {
    font-size: 6rem; 
    font-weight: bold; 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px; 
}

.stripe-container
{
    background-color: #3498db;
}